<!DOCTYPE html>
<html ng-strict-di ng-app="muzeApp">
<head>
  <title>Muze</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body ng-cloak layout="column">
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm
               aria-label="Show User List">
    </md-button>
    <h1>Angular Material - Starter App</h1>
  </md-toolbar>

    <div flex layout="row">

    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()">
      <!-- Nav links heret 
      <ul>
<li><a href="/#/tracks/1">Tracks</a></li>
<li><a href="/#/genres">Genres</a></li>
</ul>
-->
  <md-list>
    <md-list-item>
      <p><a href="/#/tracks/1">Tracks</a></p>
    </md-list-item>
    <md-list-item>
      <p>Genres</p>
    </md-list-item>
  </md-list>

    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">
      <div class="slide" ui-view></div>
    </md-content>

  </div>
  
  <script>
    window.paceOptions = {
      document: true,
      eventLag: true,
      restartOnPushState: true,
      restartOnRequestAfter: true,
      ajax: {
        trackMethods: [ 'POST','GET']
      }
    }
  </script>
</body>
</html>

