


<!DOCTYPE html>
<html ng-strict-di ng-app="muzeApp">
<head>
    <title>Muze</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>

<body ng-cloak layout="column">
    <div ng-controller="SideBarCtrl as bar">
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" aria-label="Show User List" ng-click="bar.toggleBar('right')">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </md-button>
        <h1>Muze App - [{{bar.state.current.name}}]</h1>
    </md-toolbar>

     <md-sidenav class="md-whiteframe-4dp" md-component-id="right">
          <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" aria-label="Show User List" ng-click="bar.toggleBar('right')">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </md-button>
        <h1>Muze App</h1>
    </md-toolbar>
            <md-list class="md-3-line" ng-click="bar.closeBar('right')">
                <md-list-item ui-sref="tracks({page :1})">
                    <p>Tracks</p>
                </md-list-item>
                <md-list-item ui-sref="genres({page :1})">
                    <p>Genres</p>
                </md-list-item>
            </md-list>
        </md-sidenav></div>

    <div flex layout="row">
        <md-content flex id="content">
            <div class="slide" ui-view></div>
        </md-content>
    </div>
    <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>

    <script>
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }
        }
    </script>
</body>

</html>