<md-dialog aria-label="Mango (Fruit)" flex="70">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new track</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content layout="column" layout-padding>
            <div>

            <md-input-container>
                <label>Title</label>
                <input ng-model="track.title">
            </md-input-container>

            <md-input-container>
                <label>Rating</label>
                <input ng-model="track.rating">
            </md-input-container>
            //chips for genres
            </div>
        </md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="createTrack(track)">
        Create track
      </md-button>
    </md-dialog-actions>
</md-dialog>