<div layout='row' layout-align="center center">
    <md-content class="md-whiteframe-24dp" flex='75' flex-xs='100' ng-init="tracks.getTrackList()">

        <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
            <md-input-container class="md-block" flex='55'>
                <label>Search Track</label>
                <input ng-model="searchKey" ng-change='tracks.searchTrack(searchKey)' ng-model-options="{debounce: 300}">
            </md-input-container>

            <div class="lock-size" layout="row" layout-align="center center">
                <md-button aria-label="menu" class="md-fab" ng-click="tracks.addNewTrack($event)">
                    <i class="fa fa-plus"></i>
                </md-button>
            </div>
        </section>

        <section layout="column" layout-sm="column" layout-align="center center" layout-wrap>
            <md-content flex="55" flex-xs='75' ng-show="tracks.tracksList.length> 0">
                <md-list>
                    <md-subheader class="md-no-sticky">Tracks list</md-subheader>
                    <track ng-repeat="track in tracks.tracksList" track-info="track" page-number="tracks.pageNumber">
                    </track>
                </md-list>
            </md-content> 
            <md-content flex="55" flex-xs='75' ng-show="tracks.tracksList.length == 0">
                <md-list>
                    <md-subheader class="md-no-sticky">No Tracks</md-subheader>
                </md-list>
            </md-content>

        </section>


        <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
            <md-button ng-show="tracks.paginationArray.length>=1" class="md-raised" ng-repeat="page in tracks.paginationArray | limitTo: 5 : tracks.pageNumber  track by $index"
                ui-sref="index.tracks({page: page})">{{page}}</md-button>
            <md-button ng-hide="tracks.paginationArray.length>=1" class="md-raised" ui-sref="tracks({page: 1})">Back to first Page</md-button>
        </section>
    </md-content>
</div>