<md-content class="md-padding" layout-xs="column" layout="column" layout-align="center center">
    <md-button class="md-primary" ui-sref="tracks({page: track.pageNumber})"><i class="fa fa-angle-left"> List</i></md-button>
    <div flex-xs="100" flex-gt-xs="85" ng-init="track.getCurrentTrack()">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{track.detailedInfo.title}}</span>
                    <span class="md-subhead">
                         <md-chips ng-model="track.detailedInfo.genres" name="fruitName" readonly="true">
                            <md-chip-template>
                                <strong>{{$chip.name}}</strong>
                            </md-chip-template>
                        </md-chips>
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="http://placehold.it/250x250" class="md-avatar" />
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised  md-primary" ng-click="track.editTrack(track.detailedInfo, $event)"><i class="fa fa-edit"></i> Edit</md-button>  
                <md-button class="md-raised  md-primary"><i class="fa fa-play"></i> Play</md-button>
            </md-card-actions>
        </md-card>
    </div>

</md-content>