<div layout='row' layout-align="center center">
    <md-content class="md-whiteframe-24dp" flex='85' flex-xs='100' ng-init="genres.getGenreList()">
        <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
            <h1>Genres</h1>

            <div class="lock-size" layout="row" layout-align="center center">
                <md-button aria-label="menu" class="md-fab" ng-click="genres.addNewGenre($event)">
                    <i class="fa fa-plus"></i>
                </md-button>
            </div>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-content flex='55'>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-click="" ng-repeat="genre in genres.genreList" ui-sref="genre-info({page: genres.pageNumber, genreId:genre.id})">
                        <img ng-src="http://placehold.it/100x188" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{genre.name}}</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </section>

        <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
            <md-button ng-show="genres.paginationArray.length>=1" class="md-raised" ng-repeat="page in genres.paginationArray | limitTo: 5 : genres.pageNumber  track by $index"
                ui-sref="genres({page: page})">{{page}}</md-button>
            <md-button ng-hide="genres.paginationArray.length>=1" class="md-raised" ui-sref="genres({page: 1})">Back to first Page</md-button>
        </section>
    </md-content>
</div>